@media (max-width: 450px) {
  #video-container {
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }

  .page {
    text-align: center;
  }

  .container-fluid {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
  }

  .buttons{
    max-width: 450px !important;
  }

  .buttons #instagram {
    background-color: var(--instagram);
    font-size: 30px;
  }

  .buttons #youtube {
    background-color: var(--youtube);
    font-size: 30px;
  }

  .buttons #spotify {
    background-color: var(--spotify);
    font-size: 30px;  
  }

  .buttons #facebook {
    background-color: var(--facebook);
    font-size: 30px;
  }

  #logoedit2 {
    width: 350px;
  }

  #page1.page {
    background: url("../img/fondoMobile450.webp") no-repeat center center !important;
    background-size: cover !important;
    width: 450px !important;
    height: 1080px;
    z-index: 1;
  }

  #page2.page {
    background: url("../img/back-page2.webp") no-repeat center center;
    background-size: cover !important;
    width: 450px !important;
    height: 1080px;
  }

  #page3.page {
    background: url("../img/back-Page3-2.webp") no-repeat center center;
    background-size: cover !important;
    width: 450px !important;
    height: 1080px;
  }

  .menu {
    visibility: hidden;
  }

  .discos .disco{
    margin-top: 65% !important;
    max-width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  #disco1 {
    margin-left: 0% !important;
  } 

  #disco2 {
    margin-left: 0% !important;
  }

  .novedades {
    font-size: 15px !important;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 253, 253);
    background-color: rgba(2, 2, 2, 1) !important;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: fadeInOut 7.5s ease-in-out infinite;
  }

  #player-title {
    margin-top: 35% !important;
    font-size: 16px !important;
    margin-bottom: -35% !important;
  }

  #song-title {
    width: 100% !important;
    margin-top: 35% !important; 
    font-size: 16px !important;
  }

  #audio-controls {
    margin-top: 0;
  }

  #p-cartelera {
    font-size: 18px;
  }

  /* Estilos para la página 2 */

  #tituloCartelera{
    display: flex;
    justify-content: center;
    margin-left: 30%;
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    font-weight: bold;
    width: 100%;
    text-shadow: 0 0 2px rgb(187, 6, 6), 0 0 2px rgb(196, 17, 17), 0 0 25px rgb(236, 61, 17);
  }
  
  .cartelera {
    margin-top: 16%;
    margin-left: -30%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
  }

  .proximoDestinoCartelera {
    display: flex;
    background-color: rgba(7, 7, 7, 0.5) !important;
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }
  
  #p-cartelera { 
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    margin-top: -2%;
    background-color: rgba(22, 252, 202, 0.3);
    border-radius: 5px;
    text-shadow: 0 0 5px black;
    width: 100%;
    font-weight: bold;
  }
  
  #destino {
    width: 140px;
    height: 140px;
    opacity: 0.75;
  }
  
  .fechas {
    display: flex;
    width: 90%;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 12px !important;
    background-color: rgba(3, 97, 16, 0.75);
    padding: 5px !important;
    text-shadow: 2px 2px 0 rgb(18, 78, 3);
    border-radius: 2px;
    border: solid black 2px;
    color: rgb(248, 245, 245);
    font-weight: bold;
  }

  .botonEntradas {
    display: flex-end !important;
    font-size: 10px !important;
    padding: 15px !important;
  }

  .auspiciantes{
    display: none !important;
  }

  /* #video-page2 {
    margin-left: 7% !important;
    background-color: rgba(7, 7, 7, 0.5);
    position: inherit;
    justify-content: center;
    top: 0;
    left: 0;
    width: 340px !important;
    height: 640px;
    z-index: -1;
  } */

  /* Estilos para la página 3 */
  #contacto-formulario.contacto {
    max-width: 400px !important;
  } 


  .form-group {
    max-width: 400px !important;
    background-color: rgba(241, 176, 36, 0.253);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  label {
    font-size: 18px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  #enviarBtn {
    cursor: pointer;
    font-size: 18px;
    width: 362px !important;
    height: 60px;
    border-radius: 10px;
    margin-left: 0;
  }

  .contacto {
    width: 100%;
    height: 100vh;
  }

  #titulo1Formulario.tituloFormulario {
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    animation: fadeInOut 7.5s ease-in-out infinite;
    text-shadow: 0 0 2px rgb(2, 2, 2), 0 0 2px rgb(0, 0, 0), 0 0 25px rgb(2, 2, 2);

  }

  #titulo2Formulario.tituloFormulario {
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    animation: fadeInOut 7.5s ease-in-out infinite;
    text-shadow: 0 0 2px rgb(2, 2, 2), 0 0 2px rgb(0, 0, 0), 0 0 25px rgb(2, 2, 2);
  }

  .buttons-page3 {
    width: 300px !important;
    margin-top: 10%;
    height: 50px !important;
  }

  .btn.btn-primary, .btn.btn-success {
    justify-content: center;
  }

  footer {
    background: url("../img/footer450.webp") no-repeat center center !important;
    background-size: cover !important;
    width: 450px !important;
    background-color: black;
  }

  .contenedorTarjetas {
    display: none !important;
  }

  .integrantes {
    visibility: visible !important;
    font-family: "Roboto", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 5px rgb(187, 6, 6), 0 0 5px rgb(196, 17, 17), 0 0 35px rgb(236, 61, 17);
  }
}


@media (min-width: 451px) and (max-width: 648px) {
  #video-container {
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }

  .page {
    text-align: center;
  }

  .container-fluid {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
  }

  .buttons{
    max-width: 648px !important;
  }

  .buttons #instagram {
    background-color: var(--instagram);
    font-size: 40px;
  }

  .buttons #youtube {
    background-color: var(--youtube);
    font-size: 40px;
  }

  .buttons #spotify {
    background-color: var(--spotify);
    font-size: 40px;
  }

  .buttons #facebook {
    background-color: var(--facebook);
    font-size: 40px;
  }

  #logoedit2 {
    width: 350px;
  }

  #page1.page {
    background: url("../img/fondoMobile648.webp") no-repeat center center !important;
    background-size: cover !important;
    width: 648px !important;
    height: 1080px;
    z-index: 1;
  }

  #page2.page {
    background: url("../img/back-page2.webp") no-repeat center center;
    background-size: cover !important;
    width: 648px !important;
    height: 1080px;
  }

  #page3.page {
    background: url("../img/back-Page3-2.webp") no-repeat center center;
    background-size: cover !important;
    width: 648px !important;
    height: 1080px;
  }

  .menu {
    visibility: hidden;
  }

  .discos .disco{
    margin-top: 35% !important;
    max-width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  #disco1 {
    margin-left: -10% !important;
  }

  #disco2 {
    margin-left: 15% !important;
  }

  .novedades {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 253, 253);
    background-color: rgba(2, 2, 2, 1) !important;
    max-width: 648px;
    white-space: nowrap;
    overflow: hidden;
    animation: fadeInOut 7.5s ease-in-out infinite;
  }

  #player-title {
    margin-top: 25% !important;
    font-size: 20px !important;
    margin-bottom: -20% !important;
  }

  #song-title {
    width: 100% !important;
    margin-top: 30% !important; 
    font-size: 20px !important;
  }

  #audio-controls {
    margin-top: 0;
  }

  #p-cartelera {
    font-size: 18px;
  }

  /* Estilos para la página 2 */

  #tituloCartelera{
    display: flex;
    justify-content: center;
    margin-left: 30%;
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    font-weight: bold;
    width: 100%;
    text-shadow: 0 0 2px rgb(187, 6, 6), 0 0 2px rgb(196, 17, 17), 0 0 25px rgb(236, 61, 17);
  }
  
  .cartelera {
    margin-top: 16%;
    margin-left: -30%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
  }

  .proximoDestinoCartelera {
    display: flex;
    background-color: rgba(7, 7, 7, 0.5) !important;
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }
  
  #p-cartelera { 
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    margin-top: -2%;
    background-color: rgba(22, 252, 202, 0.3);
    border-radius: 5px;
    text-shadow: 0 0 5px black;
    width: 100%;
    font-weight: bold;
  }
  
  #destino {
    width: 140px;
    height: 140px;
    opacity: 0.75;
  }
  
  .fechas {
    display: flex;
    width: 80%;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 12px !important;
    background-color: rgba(3, 97, 16, 0.75);
    padding: 25px !important;
    text-shadow: 2px 2px 0 rgb(18, 78, 3);
    border-radius: 2px;
    border: solid black 2px;
    color: rgb(248, 245, 245);
    font-weight: bold;
  }

  .botonEntradas {
    font-size: 10px !important;
    margin: 0 auto;
    padding: 5px;
    background-color:#3b5999;
    border: 2px solid #1e07e7;
  }

  .auspiciantes{
    display: none !important;
  }

  /* #video-page2 {
    margin-left: 7% !important;
    background-color: rgba(7, 7, 7, 0.5);
    position: inherit;
    justify-content: center;
    top: 0;
    left: 0;
    width: 340px !important;
    height: 640px;
    z-index: -1;
  } */

  /* Estilos para la página 3 */
  #contacto-formulario.contacto {
    max-width: 400px !important;
  } 


  .form-group {
    max-width: 400px !important;
    background-color: rgba(241, 176, 36, 0.253);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  label {
    font-size: 18px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  #enviarBtn {
    cursor: pointer;
    font-size: 18px;
    width: 400px !important;
    height: 60px;
    border-radius: 10px;
    margin-left: 0;
  }

  .contacto {
    width: 100%;
    height: 100vh;
  }

  #titulo1Formulario.tituloFormulario {
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    animation: fadeInOut 7.5s ease-in-out infinite;
    text-shadow: 0 0 2px rgb(2, 2, 2), 0 0 2px rgb(196, 17, 17), 0 0 25px rgb(236, 61, 17);

  }

  #titulo2Formulario.tituloFormulario {
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    animation: fadeInOut 7.5s ease-in-out infinite;
    text-shadow: 0 0 2px rgb(2, 2, 2), 0 0 2px rgb(196, 17, 17), 0 0 25px rgb(236, 61, 17);

  }

  .buttons-page3 {
    width: 300px !important;
    margin-top: 10%;
    height: 50px !important;
  }

  .btn.btn-primary, .btn.btn-success {
    justify-content: center;
  }

  footer {
    background: url("../img/footer648.webp") no-repeat center center !important;
    background-size: cover !important;
    width: 648px !important;
    height: 100vh;
    background-color: black;
  }

  .contenedorTarjetas {
    display: none !important;
  }

  .integrantes {
    visibility: visible !important;
    font-family: "Roboto", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 5px rgb(187, 6, 6), 0 0 5px rgb(196, 17, 17), 0 0 35px rgb(236, 61, 17);
  }
}

@media (min-width: 649px) and (max-width: 768px) {
  #video-container {
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }

  .page {
    text-align: center;
  }

  .container-fluid {
    width: 100%;
    margin: 0 auto;
  }


  .buttons #instagram {
    background-color: var(--instagram);
    font-size: 40px;
  }

  .buttons #youtube {
    background-color: var(--youtube);
    font-size: 40px;
  }

  .buttons #spotify {
    background-color: var(--spotify);
    font-size: 40px;
  }

  .buttons #facebook {
    background-color: var(--facebook);
    font-size: 40px;
  }

  #logoedit2 {
    width: 550px;
  }

  #page1.page {
    background: url("../img/fondoMobile768.webp") no-repeat center center !important;
    background-size: cover !important;
    width: 768px;
    height: 1080px;
    z-index: 1;
  }

  #page2.page {
    background: url("../img/back-page2.webp") no-repeat center center;
    background-size: cover !important;
    width: 768px;
    height: 1080px;
  }

  #page3.page {
    background: url("../img/back-Page3-2.webp") no-repeat center center;
    background-size: cover !important;
    width: 768px;
    height: 1080px;
  }

  footer {
    background: url("../img/footer768.webp") no-repeat center center;
    background-size: cover; 
    width: 768px !important;
    margin: 0 auto;
    height: 100vh;
    margin-top: 0;
  }

  .integrantes {
    font-size: 24px;
    text-shadow: 0 0 2px rgb(187, 6, 6), 0 0 2px rgb(196, 17, 17), 0 0 25px rgb(236, 61, 17);

  }

  .menu {
    visibility: hidden;
  }

  .discos .disco{
    margin-top: 25%;
    width: 275px;
    height: 275px;
    padding: 20px;
  }

  .novedades {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 253, 253);
    background-color: rgba(2, 2, 2, 1) !important;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: fadeInOut 7.5s ease-in-out infinite;
  }

  #player-title {
    margin-top: 20% !important;
    margin-bottom: -15% !important;
    font-size: 20px !important;
  }

  #song-title {
    margin-top: 30% !important; 
    font-size: 20px !important;
  }

  

  #p-cartelera {
    font-size: 18px;
  }

  /* Estilos para la página 2 */

  #tituloCartelera{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    font-weight: bold;
    width: 100%;
    text-shadow: 0 0 2px rgb(187, 6, 6), 0 0 2px rgb(196, 17, 17), 0 0 25px rgb(236, 61, 17);
  }
  
  .cartelera {
    margin-top: 16%;
    max-width: 768px;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
  }

  .proximoDestinoCartelera {
    display: flex;
    background-color: rgba(7, 7, 7, 0.5) !important;
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }
  
  #p-cartelera { 
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    background-color: rgba(22, 252, 202, 0.3);
    border-radius: 5px;
    text-shadow: 0 0 5px black;
    width: 100%;
    font-weight: bold;
  }
  
  #destino {
    margin-top: 5%;
    width: 140px;
    height: 140px;
    opacity: 0.75;
  }

  #flecha{
    margin-top: 5%;
  }
  
  .fechas {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: rgba(3, 97, 16, 0.75);
    padding: 5px;
    text-shadow: 2px 2px 0 rgb(18, 78, 3);
    border-radius: 2px;
    border: solid black 2px;
    margin-right: 10px; 
    color: rgb(248, 245, 245);
  }

  .fechas .botonEntradas {
    font-size: 12px;
    margin: 0 auto;
    padding: 5px;
    background-color:#3b5999;
    border: 2px solid #1e07e7;
  }

  .auspiciantes{
    display: none !important;
  }

  /* #video-page2 {
    margin-left: 7% !important;
    background-color: rgba(7, 7, 7, 0.5);
    position: inherit;
    justify-content: center;
    top: 0;
    left: 0;
    width: 340px !important;
    height: 640px;
    z-index: -1;
  } */

  /* Estilos para la página 3 */
  #contacto-formulario.contacto {
    margin-left: 0;
    margin: 0 auto;
    max-width: 400px;
  } 


  .form-group {
    width: 100% !important;
    background-color: rgba(241, 176, 36, 0.253);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  label {
    font-size: 18px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    max-width: 768px;
    padding: 10px;
    font-size: 16px;
  }

  #enviarBtn {
    cursor: pointer;
    font-size: 18px;
    width: 375px;
    height: 60px;
    border-radius: 10px;
    margin-left: 0;
  }

  .contacto {
    max-width: 768px;
  }

  #titulo1Formulario {
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    color: #ffffff;
    width: 768px;
    animation: fadeInOut 7.5s ease-in-out infinite;
    text-shadow: 0 0 2px rgb(2, 2, 2), 0 0 2px rgb(0, 0, 0), 0 0 25px rgb(2, 2, 2);

  }

  #titulo2Formulario {
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    color: #ffffff;
    width: 768px;
    animation: fadeInOut 7.5s ease-in-out infinite;
    text-shadow: 0 0 2px rgb(2, 2, 2), 0 0 2px rgb(0, 0, 0), 0 0 25px rgb(2, 2, 2);

  }

  .buttons-page3 {
    width: 400px !important;
    margin-left: 5%;
    margin-top: 40px;
    justify-content: space-evenly !important;
    height: 50px !important;
    align-items: center;
  }

  .btn.btn-primary {
    margin-left: 40px;
    height: 50px !important;
  }

  .contenedorTarjetas {
    display: none !important;
  }

  .integrantes {
    visibility: visible !important;
    font-family: "Roboto", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #video-container {
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }

  .page {
    text-align: center;
  }

  .container-fluid {
    width: 100%;
    margin: 0 auto;
  }

  .buttons{
    max-width: 1024px;
  }


  .buttons #instagram {
    background-color: var(--instagram);
    font-size: 40px;
  }

  .buttons #youtube {
    background-color: var(--youtube);
    font-size: 40px;
  }

  .buttons #spotify {
    background-color: var(--spotify);
    font-size: 40px;
  }

  .buttons #facebook {
    background-color: var(--facebook);
    font-size: 40px;
  }

  #logoedit2 {
    width: 400px;
  }

  #page1.page {
    background: url("../img/fondoMobile1024.webp") no-repeat center center !important;
    background-size: cover !important;
    width: 1024px !important;
    height: 1080px;
    z-index: 1;
  }

  #page2.page {
    background: url("../img/back-page2.webp") no-repeat center center;
    background-size: cover !important;
    width: 1024px !important;
    height: 1080px;
  }

  #page3.page {
    background: url("../img/back-Page3-2.webp") no-repeat center center;
    background-size: cover !important;
    width: 1024px !important;
    height: 1080px;
  }

  .menu {
    visibility: hidden;
  }

  .discos .disco{
    margin-top: 15% !important;
    max-width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .novedades {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 253, 253);
    background-color: rgba(2, 2, 2, 1) !important;
    max-width: 1024px !important;
    white-space: nowrap;
    overflow: hidden;
    animation: fadeInOut 7.5s ease-in-out infinite;
  }

  #player-title {
    margin-top: 20% !important;
    font-size: 24px !important;
    margin-bottom: -20% !important;
  }

  #song-title {
    width: 100% !important;
    margin-top: 45% !important; 
    font-size: 22px !important;
  }

  #audio-controls {
    margin-top: 0;
  }

  #p-cartelera {
    font-size: 18px;
  }

  /* Estilos para la página 2 */

  #tituloCartelera{
    display: flex;
    justify-content: center;
    margin-left: 30%;
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    font-weight: bold;
    width: 100%;
    text-shadow: 0 0 2px rgb(187, 6, 6), 0 0 2px rgb(196, 17, 17), 0 0 25px rgb(236, 61, 17);
  }
  
  .cartelera {
    margin-top: 16%;
    margin-left: -30%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
  }

  .proximoDestinoCartelera {
    display: flex;
    background-color: rgba(7, 7, 7, 0.5) !important;
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }
  
  #p-cartelera { 
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    margin-top: -2%;
    background-color: rgba(22, 252, 202, 0.3);
    border-radius: 5px;
    text-shadow: 0 0 5px black;
    width: 100%;
    font-weight: bold;
  }
  
  #destino {
    width: 140px;
    height: 140px;
    opacity: 0.75;
  }
  
  .fechas {
    display: flex;
    width: 80%;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px !important;
    background-color: rgba(3, 97, 16, 0.75);
    padding: 25px !important;
    text-shadow: 2px 2px 0 rgb(18, 78, 3);
    border-radius: 2px;
    border: solid black 2px;
    color: rgb(248, 245, 245);
    font-weight: bold;
  }

  .botonEntradas {
    display: flex-end !important;
    font-size: 12px !important;
  }

  .auspiciantes{
    display: none !important;
  }

  /* #video-page2 {
    margin-left: 7% !important;
    background-color: rgba(7, 7, 7, 0.5);
    position: inherit;
    justify-content: center;
    top: 0;
    left: 0;
    width: 340px !important;
    height: 640px;
    z-index: -1;
  } */

  /* Estilos para la página 3 */
  #contacto-formulario.contacto {
    max-width: 400px !important;
  } 


  .form-group {
    max-width: 400px !important;
    background-color: rgba(241, 176, 36, 0.253);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  label {
    font-size: 18px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  #enviarBtn {
    cursor: pointer;
    font-size: 18px;
    width: 400px !important;
    height: 60px;
    border-radius: 10px;
    margin-left: 0;
  }

  .contacto {
    width: 100%;
    height: 100vh;
  }

  #titulo1Formulario.tituloFormulario {
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    animation: fadeInOut 7.5s ease-in-out infinite;
    text-shadow: 0 0 2px rgb(2, 2, 2), 0 0 2px rgb(0, 0, 0), 0 0 25px rgb(2, 2, 2);

  }

  #titulo2Formulario.tituloFormulario {
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    animation: fadeInOut 7.5s ease-in-out infinite;
    text-shadow: 0 0 2px rgb(2, 2, 2), 0 0 2px rgb(0, 0, 0), 0 0 25px rgb(2, 2, 2);

  }

  .buttons-page3 {
    width: 300px !important;
    margin-top: 10%;
    height: 50px !important;
  }

  .btn.btn-primary, .btn.btn-success {
    justify-content: center;
  }

  footer {
    background: url("../img/footer1024.webp") no-repeat center center;
    background-size: cover; 
    width: 1024px !important;
    margin: 0 auto;
    height: 100vh;
    margin-top: 0;
  }

  .contenedorTarjetas {
    display: none !important;
  }

  .integrantes {
    visibility: visible !important;
    font-family: "Roboto", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 5px rgb(187, 6, 6), 0 0 5px rgb(196, 17, 17), 0 0 35px rgb(236, 61, 17);
  }
}

@media (min-width: 1025px) and (max-width: 1470px) {
  #video-container {
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }

  .page {
    text-align: center;
  }

  .container-fluid {
    width: 100%;
    margin: 0 auto;
  }

  .buttons{
    max-width: 1470px;
  }


  .buttons #instagram {
    background-color: var(--instagram);
    font-size: 40px;
    margin-left: 10%;
  }

  .buttons #youtube {
    background-color: var(--youtube);
    font-size: 40px;
  }

  .buttons #spotify {
    background-color: var(--spotify);
    font-size: 40px;
  }

  .buttons #facebook {
    background-color: var(--facebook);
    font-size: 40px;
    margin-right: 10%;
  }

  #logoedit2 {
    width: 500px;
  }

  #page1.page {
    background: url("../img/fondoMobile1470.webp") no-repeat center center !important;
    background-size: cover !important;
    width: 1470px !important;
    height: 1080px;
    z-index: 1;
  }

  #page2.page {
    background: url("../img/back-page2.webp") no-repeat center center;
    background-size: cover !important;
    width: 1470px !important;
    height: 1080px;
  }

  #page3.page {
    background: url("../img/back-Page3-2.webp") no-repeat center center;
    background-size: cover !important;
    width: 1470px !important;
    height: 1080px;
  }

  

  .discos {
    justify-content: space-between;
    width: 100% !important;
  }
  
  .discos .disco{
    margin-top: 5% !important;
    max-width: 350px;
    height: 350px;
    margin: 0 auto;
    justify-items: flex-end;
  }

  .novedades {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 253, 253);
    background-color: rgba(2, 2, 2, 1) !important;
    max-width: 1470px;
    white-space: nowrap;
    overflow: hidden;
    animation: fadeInOut 7.5s ease-in-out infinite;
  }

  #player-title {
    margin-top: 2% !important;
    font-size: 24px !important;
    margin-bottom: -1% !important;
  }

  #song-title {
    margin-top: 5% !important;
    width: 100% !important;
    font-size: 22px !important;
  }

  #audio-controls {
    height: 64px;
  }

  #p-cartelera {
    font-size: 18px;
  }

  /* Estilos para la página 2 */

  #tituloCartelera{
    display: flex;
    justify-content: center;
    margin-left: 30%;
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    font-weight: bold;
    width: 100%;
    text-shadow: 0 0 2px rgb(187, 6, 6), 0 0 2px rgb(196, 17, 17), 0 0 25px rgb(236, 61, 17);
  }
  
  .cartelera {
    margin-top: 16%;
    margin-left: -30%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
  }

  .proximoDestinoCartelera {
    display: flex;
    background-color: rgba(7, 7, 7, 0.5) !important;
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }
  
  #p-cartelera { 
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    margin-top: -2%;
    background-color: rgba(22, 252, 202, 0.3);
    border-radius: 5px;
    text-shadow: 0 0 5px black;
    width: 100%;
    font-weight: bold;
  }
  
  #destino {
    width: 140px;
    height: 140px;
    opacity: 0.75;
  }
  
  .fechas {
    display: flex;
    width: 80%;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px !important;
    background-color: rgba(3, 97, 16, 0.75);
    padding: 25px !important;
    text-shadow: 2px 2px 0 rgb(18, 78, 3);
    border-radius: 2px;
    border: solid black 2px;
    color: rgb(248, 245, 245);
    font-weight: bold;
  }

  .botonEntradas {
    display: flex-end !important;
    font-size: 12px !important;
  }

  .auspiciantes{
    display: none !important;
  }

  /* #video-page2 {
    margin-left: 7% !important;
    background-color: rgba(7, 7, 7, 0.5);
    position: inherit;
    justify-content: center;
    top: 0;
    left: 0;
    width: 340px !important;
    height: 640px;
    z-index: -1;
  } */

  /* Estilos para la página 3 */
  #contacto-formulario.contacto {
    max-width: 400px !important;
  } 


  .form-group {
    max-width: 400px !important;
    background-color: rgba(241, 176, 36, 0.253);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  label {
    font-size: 18px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  #enviarBtn {
    cursor: pointer;
    font-size: 18px;
    width: 400px !important;
    height: 60px;
    border-radius: 10px;
    margin-left: 0;
  }

  .contacto {
    width: 100%;
    height: 100vh;
  }

  #titulo1Formulario.tituloFormulario {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    animation: fadeInOut 7.5s ease-in-out infinite;
    text-shadow: 0 0 2px rgb(2, 2, 2), 0 0 2px rgb(0, 0, 0), 0 0 25px rgb(2, 2, 2);
  }

  #titulo2Formulario.tituloFormulario {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    animation: fadeInOut 7.5s ease-in-out infinite;
    text-shadow: 0 0 2px rgb(2, 2, 2), 0 0 2px rgb(0, 0, 0), 0 0 25px rgb(2, 2, 2);
  }

  .buttons-page3 {
    width: 300px !important;
    margin-top: 10%;
    height: 50px !important;
  }

  .btn.btn-primary, .btn.btn-success {
    justify-content: center;
  }

  footer {
    background: url("../img/footer1470.webp") no-repeat center center !important;
    background-size: cover !important;
    width: 1470px !important;
    height: 100vh;
    background-color: black;
  }

  .contenedorTarjetas {
    display: none !important;
  }

  .integrantes {
    visibility: visible !important;
    font-family: "Roboto", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 5px rgb(187, 6, 6), 0 0 5px rgb(196, 17, 17), 0 0 35px rgb(236, 61, 17);
  }
}

@media (min-width: 1471px) {
  #video-container {
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }

  .page {
    text-align: center;
  }

  .container-fluid {
    width: 100%;
    margin: 0 auto;
  }

  .buttons{
    max-width: 1920px;
  }


  .buttons #instagram {
    background-color: var(--instagram);
    font-size: 45px;
    margin-left: 10%;
  }

  .buttons #youtube {
    background-color: var(--youtube);
    font-size: 45px;
  }

  .buttons #spotify {
    background-color: var(--spotify);
    font-size: 45px;
  }

  .buttons #facebook {
    background-color: var(--facebook);
    font-size: 45px;
    margin-right: 10%;
  }

  #logoedit2 {
    width: 600px;
  }

  #page1.page {
    background: url("../img/fondoPage1Webp.webp") no-repeat center center;
    background-size: cover !important;
    width: 1920px !important;
    height: 1080px;
    z-index: 1;
  }

  #page2.page {
    background: url("../img/back-page2.webp") no-repeat center center;
    background-size: cover !important;
    width: 1920px !important;
    height: 1080px;
  }

  #page3.page {
    background: url("../img/back-Page3-2.webp") no-repeat center center;
    background-size: cover !important;
    width: 1920px !important;
    height: 1080px;
  }

  .discos {
    justify-content: space-between;
    width: 100% !important;
  }
  
  .discos .disco{
    max-width: 350px;
    height: 350px;
    margin: 0 auto;
    justify-items: flex-end;
  }

  .novedades {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 253, 253);
    background-color: rgba(2, 2, 2, 1) !important;
    max-width: 100% !important;
    white-space: nowrap;
    overflow: hidden;
    animation: fadeInOut 7.5s ease-in-out infinite;
  }

  #player-title {
    margin-top: 12% !important;
    font-size: 30px !important;
    margin-bottom: -12% !important;
  }

  #song-title {
    width: 100% !important;
    font-size: 22px !important;
    margin-top: 51% !important;
  }

  #audio-controls {
    height: 64px;
  }

  #p-cartelera {
    font-size: 18px;
  }

  /* Estilos para la página 2 */

  #tituloCartelera{
    display: flex;
    justify-content: center;
    margin-left: 30%;
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    font-weight: bold;
    width: 100%;
    text-shadow: 0 0 2px rgb(187, 6, 6), 0 0 2px rgb(196, 17, 17), 0 0 25px rgb(236, 61, 17);
  }
  
  .cartelera {
    margin-top: 16%;
    margin-left: -30%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
  }

  .proximoDestinoCartelera {
    display: flex;
    background-color: rgba(7, 7, 7, 0.5) !important;
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }
  
  #p-cartelera { 
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    margin-top: -2%;
    background-color: rgba(22, 252, 202, 0.3);
    border-radius: 5px;
    text-shadow: 0 0 5px black;
    width: 100%;
    font-weight: bold;
  }
  
  #destino {
    width: 140px;
    height: 140px;
    opacity: 0.75;
  }
  
  .fechas {
    display: flex;
    width: 80%;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px !important;
    background-color: rgba(3, 97, 16, 0.75);
    padding: 25px !important;
    text-shadow: 2px 2px 0 rgb(18, 78, 3);
    border-radius: 2px;
    border: solid black 2px;
    color: rgb(248, 245, 245);
    font-weight: bold;
  }

  .botonEntradas {
    display: flex-end !important;
    font-size: 12px !important;
  }

  .auspiciantes{
    display: none !important;
  }

  /* #video-page2 {
    margin-left: 7% !important;
    background-color: rgba(7, 7, 7, 0.5);
    position: inherit;
    justify-content: center;
    top: 0;
    left: 0;
    width: 340px !important;
    height: 640px;
    z-index: -1;
  } */

  /* Estilos para la página 3 */
  #contacto-formulario.contacto {
    max-width: 400px !important;
  } 


  .form-group {
    max-width: 400px !important;
    background-color: rgba(241, 176, 36, 0.253);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  label {
    font-size: 18px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  #enviarBtn {
    cursor: pointer;
    font-size: 18px;
    width: 400px !important;
    height: 60px;
    border-radius: 10px;
    margin-left: 0;
  }

  .contacto {
    width: 100%;
    height: 100vh;
  }

  #titulo1Formulario.tituloFormulario {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    animation: fadeInOut 7.5s ease-in-out infinite;
    text-shadow: 0 0 2px rgb(2, 2, 2), 0 0 2px rgb(0, 0, 0), 0 0 25px rgb(2, 2, 2);
  }

  #titulo2Formulario.tituloFormulario {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    animation: fadeInOut 7.5s ease-in-out infinite;
    text-shadow: 0 0 2px rgb(2, 2, 2), 0 0 2px rgb(0, 0, 0), 0 0 25px rgb(2, 2, 2);
  }

  .buttons-page3 {
    width: 300px !important;
    margin-top: 10%;
    height: 50px !important;
  }

  .btn.btn-primary, .btn.btn-success {
    justify-content: center;
  }

  footer {
    background: url("../img/footer.webp") no-repeat center center !important;
    background-size: cover !important;
    width: 1920px !important;
    height: 100vh;
    background-color: black;
  }
}

@media screen and (orientation: landscape) {
  
  container-fluid{
    display: flex;
    flex-direction: row !important;
  }

  .page {
    text-align: center;
  }

  .container-fluid {
    width: 100%;
    margin: 0 auto;
  }

  .buttons{
    max-width: 1920px;
  }


  .buttons #instagram {
    background-color: var(--instagram);
  }

  .buttons #youtube {
    background-color: var(--youtube);
  }

  .buttons #spotify {
    background-color: var(--spotify);
  }

  .buttons #facebook {
    background-color: var(--facebook);
  }

  #logoedit2 {
    width: 600px;
  }

  #page1.page {
    background: url("../img/fondoPage1Webp.webp") no-repeat center center;
    background-size: cover !important;
    width: 1920px !important;
    height: 1080px;
    z-index: 1;
  }

  #page2.page {
    background: url("../img/back-page2.webp") no-repeat center center;
    background-size: cover !important;
    width: 1920px !important;
    height: 1080px;
  }

  #page3.page {
    background: url("../img/back-Page3-2.webp") no-repeat center center;
    background-size: cover !important;
    width: 1920px !important;
    height: 1080px;
  }

  

  .discos {
    justify-content: space-between;
    width: 100% !important;
    margin-top: -5%;
  }
  
  .discos .disco{
    max-width: 350px;
    height: 350px;
    margin: 0 auto;
    justify-items: flex-end;
  }

  .novedades {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 253, 253);
    background-color: rgba(2, 2, 2, 1) !important;
    max-width: 1470px;
    white-space: nowrap;
    overflow: hidden;
    animation: fadeInOut 7.5s ease-in-out infinite;
  }

  #player-title {
    margin-top: 5% !important;
    font-size: 30px !important;
    margin-bottom: -7% !important;
  }

  #song-title {
    margin-top: 25% !important;
    width: 100% !important;
    font-size: 20px !important;
  }

  #audio-controls {
    margin-top: 2% !important;
    height: 64px;
  }

  #p-cartelera {
    font-size: 18px;
  }

  /* Estilos para la página 2 */

  #tituloCartelera{
    display: flex;
    justify-content: center;
    margin-left: 30%;
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    font-weight: bold;
    width: 100%;
    text-shadow: 0 0 2px rgb(187, 6, 6), 0 0 2px rgb(196, 17, 17), 0 0 25px rgb(236, 61, 17);
  }
  
  .cartelera {
    margin-top: 16%;
    margin-left: -30%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
  }

  .proximoDestinoCartelera {
    display: flex;
    background-color: rgba(7, 7, 7, 0.5) !important;
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }
  
  #p-cartelera { 
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    margin-top: -2%;
    background-color: rgba(22, 252, 202, 0.3);
    border-radius: 5px;
    text-shadow: 0 0 5px black;
    width: 100%;
    font-weight: bold;
  }
  
  #destino {
    width: 140px;
    height: 140px;
    opacity: 0.75;
  }
  
  .fechas {
    display: flex;
    width: 80%;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px !important;
    background-color: rgba(3, 97, 16, 0.75);
    padding: 25px !important;
    text-shadow: 2px 2px 0 rgb(18, 78, 3);
    border-radius: 2px;
    border: solid black 2px;
    color: rgb(248, 245, 245);
    font-weight: bold;
  }

  .botonEntradas {
    display: flex-end !important;
    font-size: 12px !important;
  }

  .auspiciantes{
    display: none !important;
  }

  /* #video-page2 {
    margin-left: 7% !important;
    background-color: rgba(7, 7, 7, 0.5);
    position: inherit;
    justify-content: center;
    top: 0;
    left: 0;
    width: 340px !important;
    height: 640px;
    z-index: -1;
  } */

  /* Estilos para la página 3 */
  #contacto-formulario.contacto {
    max-width: 400px !important;
  } 


  .form-group {
    max-width: 400px !important;
    background-color: rgba(241, 176, 36, 0.253);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  label {
    font-size: 18px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  #enviarBtn {
    cursor: pointer;
    font-size: 18px;
    width: 400px !important;
    height: 60px;
    border-radius: 10px;
    margin-left: 0;
  }

  .contacto {
    width: 100%;
    height: 100vh;
  }

  #titulo1Formulario.tituloFormulario {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    animation: fadeInOut 7.5s ease-in-out infinite;
    text-shadow: 0 0 2px rgb(2, 2, 2), 0 0 2px rgb(0, 0, 0), 0 0 25px rgb(2, 2, 2);
  }

  #titulo2Formulario.tituloFormulario {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    animation: fadeInOut 7.5s ease-in-out infinite;
    text-shadow: 0 0 2px rgb(2, 2, 2), 0 0 2px rgb(0, 0, 0), 0 0 25px rgb(2, 2, 2);
  }

  .buttons-page3 {
    width: 300px !important;
    margin-top: 10%;
    height: 50px !important;
  }

  .btn.btn-primary, .btn.btn-success {
    justify-content: center;
  }

  footer {
    margin-top: 0 !important;
    background-size: cover !important;
    width: 1920px !important;
    height: 100vh;
    background-color: black;
  }

}
/* Define la animación de desvanecimiento gradual */
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Define la animación de desplazamiento horizontal */
@keyframes marquee {
  20% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(calc(-100% - var(--title-width)));
  }
}

/* #video-bienvenida {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; 
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
}

.page {
  text-align: center;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

#video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#page1 {
  justify-content: flex;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

#logoEdit1 {
  margin-top: 20px;
  opacity: 0.55;
}

#logoEdit2 {
  margin-top: -2%;
  opacity: 0.85;
}

/* .bienvenidos {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  color: rgb(223, 219, 219);
  text-shadow: 1px 1px 10px rgba(8, 8, 8, 0.718);
  margin-left: 26%;
  margin-top: -3%;
  border: 1px rgb(248, 244, 244);

} */

.discos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.disco {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0;
}

#disco1, #disco2 {
  opacity: 0.75;
  margin-top: 75%;
}

#disco1 {
  margin-left: -35%;
}

#disco2 {
  margin-left: 35%;
}

.imagen {
  margin-top: 20%;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
}

#imagen2 {
  margin-left: 15%;
}

.menu {
  margin-top: 30%;
  position: absolute;
  top: 0;
  border: 1px solid black;
  border-radius: 5px;
  right: -300px;
  width: 300px;
  height: 120%;
  background: radial-gradient(
    circle,
    rgba(242, 129, 30, 0.3) 0%,
    rgba(236, 120, 12, 0.3) 29%,
    rgba(240, 8, 114, 0.3) 68%
  );
  color: white;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: right 0.3s;
  z-index: 1;
}

#menu1 {
  left: 200px;
}

#menu2 {
  right: 200px;
}

.pMenu {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1;
  text-shadow: 2px 2px 5px black;
}

.disco:hover .imagen {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.disco:hover .menu {
  display: flex;
  right: 0;
}

.disco:not(:hover) .menu {
  right: -300px;
}

.novedades {
  font-family: "Roboto", sans-serif;
  color: rgb(247, 247, 247);
  background-color: rgba(7, 7, 7, 1);
  width: 100%;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  animation: fadeInOut 7.5s ease-in-out infinite;
}

#song-info {
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
  width: 450px;
  margin: 0 auto;
}

#player-title {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 0 5px rgb(211, 126, 228), 0 0 10px rgb(211, 117, 219), 0 0 15px rgb(207, 126, 228);
}

#song-title {
  width: 100%;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 0 5px rgb(211, 126, 228), 0 0 10px rgb(211, 117, 219), 0 0 15px rgb(207, 126, 228);
}

#audio-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

#audio-controls button {
  background: linear-gradient(84deg, rgba(36,34,34,0.87718837535014) 28%, rgba(98,96,95,0.938813025210084) 49%, rgba(124,123,119,0.989233193277311) 98%);  
  margin: 10px;
  border: 2px solid black;
  border-radius: 15%;
}

#audio-controls img {
  width: 40px;
  height: 40px;
  border-radius: 15%;
  /* filter: blur(1px); */
}

.button-clicked {
  animation: fadeInOut 1s ease;
}

:root {
  --facebook: #3b5999;
  --instagram: #c90f5c;
  --youtube: #bd081c;
  --spotify: #047a04;
}

/* Estilos para los botones "toPage1", "toPage2" y "toPage3"
#toPage1,
#toPage2,
#toPage3 {
  display: flex;
  margin: 10px auto; /* Centra los botones horizontalmente y agrega un espacio entre ellos */
  /* padding: 10px 20px;
  background-color: rgba(241, 212, 114, 0.7);
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

#toPage1:hover,
#toPage2:hover,
#toPage3:hover {
  background-color: rgba(5, 5, 5, 0.5);
  color: white;
}  */

/* .botonesToDoPage1 {
  display: flex;
  justify-content: space-between;
}

.botonesToDoPage3 {
  display: flex;
  justify-content: space-between;
}

.botonesToDoPage2 {
  display: flex;
  justify-content: space-between;
} */

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}

.buttons a:hover {
  transform: translateY(-3px) scale(1.5);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
}

#toPage1 {
  height: 47px;
}
#toPage2 {
  height: 47px;
}
#toPage3 {
  height: 47px;
}

.btn-primary {
  background-color: var(--instagram);
  border: 1px pink;
  height: 50px !important;
}

.btn-primary:hover {
  background-color: var(--instagram);
}

.buttons #instagram {
  background-color: var(--instagram);
}

.buttons #youtube {
  background-color: var(--youtube);
}

.buttons #facebook {
  background-color: var(--facebook);
}

.buttons #spotify {
  background-color: var(--spotify);
}

.header {
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  display: inline-block;
  background-color: black;
  color: white;
}

h3 {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(3, 3, 3);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-align: center;
}

#page2 {
  display: -ms-f-grid;
  background: url("../img/back-page2.webp") no-repeat center center;
  justify-content: flex;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.fechas {
  width: 100%;
  margin-left: 30%;
  text-align: center;
  justify-content: center;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: rgba(3, 97, 16, 0.75);
  padding: 5px;
  text-shadow: 2px 2px 0 rgb(18, 78, 3);
  border-radius: 2px;
  border: solid black 2px;
  margin-right: 10px; 
  color: rgb(248, 245, 245);
  font-weight: bold;
}

.botonEntradas {
  display: flex;
  text-decoration: none;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 14px;
  padding: 15px;
  border-radius: 15px;
  font-weight: bold;
  text-shadow: 0 0 2px rgb(10, 240, 41), 0 0 2px gold, 0 0 25px gold;
  height: 50%;
  margin: 0 auto;
  background-color:#f6f7fa;
  border: 5px solid #0c440f;
}

.saludo {
  width: 100%;
  margin-left: 30%;
  text-align: center;
  justify-content: center;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 5px;
  text-shadow: 2px 2px 0 black;
  border-radius: 2px;
  border: solid rgba(0, 0, 0, 0.658) 2px;
  margin-right: 10px; 
  font-weight: bold;
  text-shadow: 0 0 2px rgb(245, 4, 4), 0 0 2px rgb(155, 4, 4), 0 0 25px rgb(196, 4, 4);
}

/* #video-page2 {
  display: flex;
  margin-left: 30%;
  justify-content: center;
  background-color: rgba(7, 7, 7, 0.5);
  top: 0;
  left: 0;
  width: 926px;
  height: 640px;
  z-index: -1;
} */


.tituloCartelera{
  display: flex;
  margin-left: 45%;
  font-family: 'Roboto', sans-serif;
  font-size: 44px; 
  font-weight: bold;
}

.cartelera {
  margin-top: 3%;
  margin-left: -30%;
  width: 50%;
  display: inline-block;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
}

#p-cartelera { 
  font-family: 'Roboto', sans-serif;
  font-size: 24px; 
  margin-top: -2%;
  background-color: rgba(22, 252, 202, 0.3);
  border-radius: 5px;
  text-shadow: 0 0 5px black;
  width: 100%;
  margin-left: 30%;
  font-weight: bold;
}

#destino {
  width: 140px;
  height: 140px;
}

#flecha {
  width: 50px;
  height: 50px;
  animation: fadeInOut 1s ease-in-out infinite;
}

#fecha {
  margin-top: -3%;
  font-weight: bold;
  text-shadow: 0 0 2px gold, 0 0 2px gold, 0 0 25px gold;
}

.proximoDestinoCartelera {
  display: flex;
  justify-content: center;
  margin-left: 30%;
  background-color: rgba(7, 7, 7, 0.5);
  text-shadow: 0 0 5px black;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.saludoAuspiciantes {
  width: 100%;
  margin-left: 30%;
  text-align: center;
  justify-content: center;
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: rgba(98, 220, 241, 0.75);
  padding: 5px;
  text-shadow: 2px 2px 0 black;
  border-radius: 2px;
  border: solid rgba(0, 0, 0, 0.658) 2px;
  margin-right: 10px; 
  font-weight: bold;
  text-shadow: 0 0 2px rgb(16, 152, 243), 0 0 2px rgb(25, 156, 243), 0 0 25px gold;
  margin-bottom: -110px;
}

.auspiciantes {
  display: none; /* Utilizamos Flexbox para alinear los logos */
  justify-content: space-around; /* Distribuye el espacio entre los logos */
  align-items: center; /* Alinea verticalmente los logos */
  flex-wrap: wrap; /* Envuelve los logos si no caben en una sola línea */
}

.auspiciantes-fila {
  display: flex; /* Utilizamos Flexbox para alinear los auspiciantes en una fila */
  justify-content: space-around; /* Centra los auspiciantes horizontalmente */
  align-items: center; /* Alinea los auspiciantes verticalmente */
  flex-wrap: wrap; /* Envuelve los auspiciantes si no caben en una sola fila */
  margin-bottom: -50px;
  margin-right: 37px;
}

.auspiciantes-fila2 {
  display: flex; /* Utilizamos Flexbox para alinear los auspiciantes en una fila */
  justify-content: space-around; /* Centra los auspiciantes horizontalmente */
  align-items: center; /* Alinea los auspiciantes verticalmente */
  flex-wrap: wrap; /* Envuelve los auspiciantes si no caben en una sola fila */
  margin-bottom: -50px;
  margin-left: 175px;
}

.auspiciante {
  margin: 20px; /* Margen entre cada auspiciante */
}

.auspiciante img {
  max-width: 175px; /* Tamaño máximo de cada logo */
  height: auto; /* Altura automática para mantener la proporción */
}

#page3 {
  background: url("../img/back-Page3-2.webp") no-repeat center center;
  justify-content: flex;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: black;
}

/* FORMULARIO DE CONTACTO */

.contacto {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Alinear elementos en columna */
  align-items: center; /* Centrar horizontalmente */
}

.contact-form {
  max-width: 450px; 
  width: 100%; 
  padding: 24px;
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(110, 110, 110, 0.5);
}

.tituloFormulario {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 2px black;
  color: #ffffff;
  overflow: visible;
  animation: fadeInOut 7.5s ease-in-out infinite;
  margin-bottom: 20px; /* Espacio entre títulos y elementos siguientes */
  text-shadow: 0 0 2px rgb(245, 4, 4), 0 0 2px rgb(155, 4, 4), 0 0 25px rgb(196, 4, 4) !important;
}

#instagram-page3 {
  background-color: var(--instagram);
}

#whatsapp-page3 {
  background-color: rgb(13, 172, 13);
}

.buttons-page3 {
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;
  height: 50px !important;
  align-items: center;
}

#formularioContacto {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#enviarBtn {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 24px;
  width: 100%;
  height: 55px;
  margin-top: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

#enviarBtn:hover {
  color: rgb(253, 252, 249);
  text-shadow: 2px 2px 3px black;
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

label {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: black;
  font-weight: bold;
  display: block;
  text-align: center;
}

#nombre {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.027);
}
#email {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.027);
}

#telefono {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.027);
}

#mensaje {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.027);
}

input::placeholder,
textarea::placeholder {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin: 0;
}

input[type="text"],
input[type="email"],
textarea {
  color: black !important;
  background-color: rgb(255, 255, 255) !important;
  text-decoration: none;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

textarea {
  height: 200px;
  color: rgba(2, 2, 2, 0.781);
}

/* LOGOS CONTACTO PAGE 3 */

i {
  font-size: 24px;
  padding: 10px;
}

footer {
  background: url("../img/footer.webp") no-repeat center center;
  width: 100%;
  background-size: cover;
  background-color: black;
  height: 1080px;
}

#footerID {
  background-color: black;
}

p.copy{
  text-shadow: 0 0 5px rgb(3, 3, 3), 0 0 5px rgb(3, 3, 3), 0 0 35px rgb(3, 3, 3);
}

#yubesIntegrantes {
  margin-top: 2%;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px rgb(3, 3, 3), 0 0 5px rgb(3, 3, 3), 0 0 35px rgb(3, 3, 3);

}

.integrantes {
  font-size: 22px;
  visibility: hidden;
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
}

.copy {
  color: white;
  display: flex;
  justify-content: center;
}

/* #mute-button {
  position: fixed;
  bottom: 150px;
  right: 20px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.473);
  font-size: 25px;
  width: 5%;
  border-radius: 5px;
} */

/*TARJETAS FOOTER */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedorTarjetas {
  margin-top: -10%;
  display: flex;
  justify-content: space-between;
  min-height: 360px;
  padding: 50px;
}

.tarjetas {
  height: 300px;
  width: 240px;
  position: relative;
  border-radius: 10px;
  text-shadow: 0 0 5px rgb(3, 3, 3), 0 0 5px rgb(3, 3, 3), 0 0 35px rgb(3, 3, 3);
  overflow: hidden;
}

.imagenTano {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #ff000000;
  background-image: url("../img/tanoWebp.webp");
  background-size: cover;
}

.imagenMarcho {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #ff000000;
  background-image: url("../img/marchoWebp.webp");
  background-size: cover;
}

.imagenFede {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #ff000000;
  background-image: url("../img/fede2Webp.webp");
  background-size: cover;
}

.imagenPablo {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #ff000000;
  background-image: url("../img/pabloWebp.webp");
  background-size: cover;
}

.imagenMauri {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #ff000000;
  background-image: url("../img/mauriWebp.webp");
  background-size: cover;
}

.detalle {
  display: flex;
  position: absolute;
  color: rgb(245, 244, 242);
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  background: linear-gradient(
    129deg,
    rgb(5, 5, 5, 0.75) 0%,
    rgba(5, 3, 0, 1) 94%
  );
  height: 60%;
  width: 100%;
  bottom: 0;
  border-radius: 10px 10px 0 0;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 10px;
}

.tituloTarjetaTano {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
}

.contenidoTarjetaTano {
  text-align: center;
  font-size: 23px;
  line-height: 150%;
}

.tarjetas:hover .detalle {
  transform: translateY(100%);
}

.tarjetas.expandida {
  width: 600px;
  height: 400px;
  cursor: auto;
}

.detalle.expandida {
  height: 100%;
  transform: translateY(0);
}

.copy {
  text-shadow: 0 0 5px rgb(3, 3, 3), 0 0 5px rgb(3, 3, 3), 0 0 35px rgb(3, 3, 3);
}
/* Estilo del enlace de LinkedIn */
.copy a {
  margin-bottom: 20px;
  text-decoration: none;
  color: #f9fbfc;
  border: 2px solid #0077b5;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.copy a:hover {
  background-color: #0077b5;
  color: #fff;
}









