@media screen and (max-width: 768px) {
  #video-container {
    display: none !important;
  }

  body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  .page {
    background-color: black;
    width: 100%;
    height: 100vh;
    text-align: center;
  }


  .buttons #instagram {
    background-color: var(--instagram);
  }

  .buttons #youtube {
    background-color: var(--youtube);
  }

  .buttons #spotify {
    background-color: var(--spotify);
  }

  .buttons #facebook {
    background-color: var(--facebook);
  }

  #logoedit2 {
    width: 350px;
  }

  #page1.page {
    background: url("../img/LogoPage1MobileTransparente.webp") no-repeat center center;
    background-size: cover !important;
    width: 100%;
    height: 1080px;
    z-index: 1;
  }

  #page2.page {
    background: url("../img/back-page2.webp") no-repeat center center;
    background-size: cover !important;
    width: 100% !important;
    height: 1080px;
  }

  #page3.page {
    background: url("../img/back-Page3-2.webp") no-repeat center center;
    background-size: cover !important;
    width: 100% !important;
    height: 1180px;
  }

  .menu {
    visibility: hidden;
  }

  .discos {
    margin-top: 40% !important;
  }

  .disco {
    width: 175px !important;
    height: 175px !important;
  }

  .novedades {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 253, 253);
    background-color: rgba(2, 2, 2, 0.75) !important;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: fadeInOut 7.5s ease-in-out infinite;
  }

  #player-title {
    margin-top: 5% !important;
  }

  #song-title {
    margin-top: 5% !important; 
  }

  #p-cartelera {
    font-size: 18px;
  }

  /* Estilos para la página 2 */

  #tituloCartelera{
    display: flex;
    justify-content: center;
    margin-left: 30%;
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    font-weight: bold;
    width: 100%;
    text-shadow: 0 0 2px rgb(187, 6, 6), 0 0 2px rgb(196, 17, 17), 0 0 25px rgb(236, 61, 17);
  }
  
  .cartelera {
    margin-top: 16%;
    margin-left: -30%;
    width: 50%;
    display: inline-block;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
  }

  .proximoDestinoCartelera {
    display: flex;
    background-color: rgba(7, 7, 7, 0.5) !important;
    width: 100%;
    font-family: 'Roboto', sans-serif;
  }
  
  #p-cartelera { 
    font-family: 'Roboto', sans-serif;
    font-size: 24px; 
    margin-top: -2%;
    background-color: rgba(22, 252, 202, 0.3);
    border-radius: 5px;
    text-shadow: 0 0 5px black;
    width: 100%;
    font-weight: bold;
  }
  
  #destino {
    width: 140px;
    height: 140px;
    opacity: 0.75;
  }
  
  #fecha {
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 2px gold, 0 0 2px gold, 0 0 25px gold;
  }

  #video-page2 {
    margin-left: 7% !important;
    background-color: rgba(7, 7, 7, 0.5);
    position: inherit;
    justify-content: center;
    top: 0;
    left: 0;
    width: 340px !important;
    height: 640px;
    z-index: -1;
  }

  /* Estilos para la página 3 */
  #contacto-formulario.contacto {
    margin-left: -10%;
  } 


  .form-group {
    max-width: 375px !important;
    background-color: rgba(241, 176, 36, 0.253);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  label {
    font-size: 18px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  #enviarBtn {
    background-color: #f1a643;
    color: black;
    cursor: pointer;
    font-size: 18px;
    width: 375px !important;
    height: 60px;
    border-radius: 10px;
    margin-left: 0;
  }

  .contacto {
    width: 100%;
  }

  #titulo1Formulario.tituloFormulario {
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    margin-left: 13%;
    padding: 0px;
    animation: fadeInOut 7.5s ease-in-out infinite;
  }

  #titulo2Formulario.tituloFormulario {
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    margin-left: 45% !important;
    padding: 0px;
    animation: fadeInOut 7.5s ease-in-out infinite;
  }

  .buttons-page3 {
    width: 400px !important;
    margin-left: 5%;
    margin-top: 40px;
    justify-content: space-evenly !important;
    height: 50px !important;
    align-items: center;
  }

  .btn.btn-primary {
    margin-left: 40px;
    height: 50px !important;
  }

  footer {
    margin-bottom: 0;
    margin-top: 10%;
  }

  .contenedorTarjetas {
    display: none !important;
  }

  .integrantes {
    visibility: visible !important;
    font-family: "Roboto", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
  }
}

/* Define la animación de desvanecimiento gradual */
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Define la animación de desplazamiento horizontal */
@keyframes marquee {
  20% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(calc(-100% - var(--title-width)));
  }
}

/* #video-bienvenida {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; 
} */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: auto;
}

.page {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.container-fluid {
  width: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

#video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#page1 {
  justify-content: flex;
  background-size: cover;
  width: 100%;
  height: 1180px;
  z-index: 1;
}

#logoEdit1 {
  margin-top: 20px;
  opacity: 0.55;
}

#logoEdit2 {
  margin-top: -2%;
  opacity: 0.85;
}

/* .bienvenidos {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  color: rgb(223, 219, 219);
  text-shadow: 1px 1px 10px rgba(8, 8, 8, 0.718);
  margin-left: 26%;
  margin-top: -3%;
  border: 1px rgb(248, 244, 244);

} */

.discos {
  margin-top: 10%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.disco {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0;
}

.imagen {
  margin-top: 30%;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
}

#imagen2 {
  margin-left: 15%;
}

.menu {
  margin-top: 30%;
  position: absolute;
  top: 0;
  border: 1px solid black;
  border-radius: 5px;
  right: -300px;
  width: 300px;
  height: 120%;
  background: radial-gradient(
    circle,
    rgba(242, 129, 30, 0.3) 0%,
    rgba(236, 120, 12, 0.3) 29%,
    rgba(240, 8, 114, 0.3) 68%
  );
  color: white;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: right 0.3s;
  z-index: 1;
}

#menu1 {
  left: 300px;
}

#menu2 {
  right: 200px;
}

.pMenu {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1;
  text-shadow: 2px 2px 5px black;
}

.disco:hover .imagen {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.disco:hover .menu {
  display: flex;
  right: 0;
}

.disco:not(:hover) .menu {
  right: -300px;
}

.novedades {
  font-family: "Roboto", sans-serif;
  color: rgb(247, 247, 247);
  background-color: rgba(240, 10, 87, 0.75);
  width: 100%;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  animation: fadeInOut 7.5s ease-in-out infinite;
}

#song-info {
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
  width: 430px;
  margin: 0 auto;
}

#player-title {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 0 5px rgb(211, 126, 228), 0 0 10px rgb(211, 117, 219), 0 0 15px rgb(207, 126, 228);
}

#song-title {
  width: 100%;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 0 5px rgb(211, 126, 228), 0 0 10px rgb(211, 117, 219), 0 0 15px rgb(207, 126, 228);
}

#audio-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

#audio-controls button {
  background: linear-gradient(84deg, rgba(36,34,34,0.87718837535014) 28%, rgba(98,96,95,0.938813025210084) 49%, rgba(124,123,119,0.989233193277311) 98%);  
  margin: 10px;
  border: 2px solid black;
  border-radius: 15%;
}

#audio-controls img {
  width: 40px;
  height: 40px;
  border-radius: 15%;
  /* filter: blur(1px); */
}

.button-clicked {
  animation: fadeInOut 1s ease;
}

:root {
  --facebook: #3b5999;
  --instagram: #c90f5c;
  --youtube: #bd081c;
  --spotify: #047a04;
}

/* Estilos para los botones "toPage1", "toPage2" y "toPage3" */
#toPage1,
#toPage2,
#toPage3 {
  display: flex;
  margin: 10px auto; /* Centra los botones horizontalmente y agrega un espacio entre ellos */
  padding: 10px 20px;
  background-color: rgba(241, 212, 114, 0.7);
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

#toPage1:hover,
#toPage2:hover,
#toPage3:hover {
  background-color: rgba(5, 5, 5, 0.5);
  color: white;
}

.botonesToDoPage1 {
  display: flex;
  justify-content: space-between;
}

.botonesToDoPage3 {
  display: flex;
  justify-content: space-between;
}

.botonesToDoPage2 {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}

.buttons a:hover {
  transform: translateY(-3px) scale(1.5);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
}

#toPage1 {
  height: 47px;
}
#toPage2 {
  height: 47px;
}
#toPage3 {
  height: 47px;
}

.btn-primary {
  background-color: var(--instagram);
  border: 1px pink;
  height: 50px !important;
}

.btn-primary:hover {
  background-color: var(--instagram);
}

.buttons #instagram {
  background-color: var(--instagram);
}

.buttons #youtube {
  background-color: var(--youtube);
}

.buttons #facebook {
  background-color: var(--facebook);
}

.buttons #spotify {
  background-color: var(--spotify);
}

.header {
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  display: inline-block;
  background-color: black;
  color: white;
}

h3 {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(3, 3, 3);
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-align: center;
}

#page2 {
  background: url("../img/back-page2.webp") no-repeat center center;
  background-size: cover;
  max-width: 100%;
  width: 100%;
  height: 1080px;
}

#video-page2 {
  display: flex;
  margin-left: 30%;
  justify-content: center;
  background-color: rgba(7, 7, 7, 0.5);
  top: 0;
  left: 0;
  width: 926px;
  height: 640px;
  z-index: -1;
}


.tituloCartelera{
  display: flex;
  margin-left: 45%;
  font-family: 'Roboto', sans-serif;
  font-size: 44px; 
  font-weight: bold;
}

.cartelera {
  margin-top: 3%;
  margin-left: -30%;
  width: 50%;
  display: inline-block;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
}

#p-cartelera { 
  font-family: 'Roboto', sans-serif;
  font-size: 24px; 
  margin-top: -2%;
  background-color: rgba(22, 252, 202, 0.3);
  border-radius: 5px;
  text-shadow: 0 0 5px black;
  width: 100%;
  margin-left: 30%;
  font-weight: bold;
}

#destino {
  width: 140px;
  height: 140px;
}

#flecha {
  width: 50px;
  height: 50px;
  animation: fadeInOut 1s ease-in-out infinite;
}

#fecha {
  margin-top: -3%;
  font-weight: bold;
  text-shadow: 0 0 2px gold, 0 0 2px gold, 0 0 25px gold;
}

.proximoDestinoCartelera {
  display: flex;
  justify-content: center;
  margin-left: 30%;
  background-color: rgba(7, 7, 7, 0.5);
  text-shadow: 0 0 5px black;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

#page3 {
  background: url("../img/back-Page3-2.webp") no-repeat center center;
  background-size: cover;
  max-width: 100%;
  width: 100%;
  height: 1180px;
}

/* FORMULARIO DE CONTACTO */

.container {
  align-items: center;
}

.contacto {
  float: left;
  width: 50%;
  flex: 1;
  margin-right: 20px;
  padding: 20px;
}

.contactoRedes {
  flex: 1;
  padding: 20px;
  margin-top: 25%;
}

#instagram-page3 {
  background-color: var(--instagram);
}

#whatsapp-page3 {
  background-color: rgb(13, 172, 13);
}

.tituloFormulario {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 2px black;
  color: #ffffff;
  width: auto;
  white-space: nowrap;
  overflow: visible;
  padding: 0px;
  border-radius: 5px;
  animation: fadeInOut 7.5s ease-in-out infinite;
}

#titulo1Formulario {
  margin-left: -35%;
}

#titulo2Formulario {
  margin-left: 9%;
}

.buttons-page3 {
  width: 400px !important;
  margin-left: 5%;
  margin-top: 40px;
  justify-content: space-evenly !important;
  height: 50px !important;
  align-items: center;
}

.btn.btn-primary {
  margin-left: 40px;
  height: 50px !important;
}

.contact-form {
  max-width: 450px;
  margin-left: 5%;
  padding: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  background-color: rgba(241, 176, 36, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 440px;
}

#enviarBtn {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 24px;
  width: 440px;
  height: 55px;
  margin-top: 20px;
  text-align: center;
  background-color: #f1a643;
  color: rgb(241, 212, 114) !important;
  text-shadow: 2px 2px 3px black !important;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

#enviarBtn:hover {
  color: rgb(253, 252, 249) !important;
  text-shadow: 2px 2px 3px black !important;
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

label {
  text-shadow: 1px 1px 1px black;
  color: rgba(240, 238, 236, 0.8);
  display: block;
  text-align: center;
}

#nombre {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 15px gold;
  background-image: url("../img/back-page1-solar.webp");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.027);
}
#email {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 15px gold;
  background-image: url("../img/back-page1-solar.webp");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.027);
}

#telefono {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 15px gold;
  background-image: url("../img/back-page1-solar.webp");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.027);
}

#mensaje {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 15px gold;
  background-image: url("../img/back-page1-solar.webp");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.027);
}

input::placeholder,
textarea::placeholder {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 0 5px gold, 0 0 5px gold, 0 0 5px gold;
}

input[type="text"],
input[type="email"],
textarea {
  color: black;
  text-decoration: none;
  text-shadow: 2px 2px 4px #eca816;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

textarea {
  height: 200px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

h3 {
  margin-top: 2%;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
}

.integrantes {
  visibility: hidden;
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
}

.copy {
  color: white;
  display: flex;
  justify-content: center;
}

#mute-button {
  position: fixed;
  bottom: 150px;
  right: 20px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.473);
  font-size: 25px;
  width: 5%;
  border-radius: 5px;
}

/*TARJETAS FOOTER */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedorTarjetas {
  margin-top: -10%;
  display: flex;
  justify-content: space-between;
  min-height: 360px;
  padding: 50px;
}

.tarjetas {
  height: 300px;
  width: 240px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 20px 9px rgb(241, 212, 114);
  overflow: hidden;
}

.imagenTano {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #ff000000;
  background-image: url("../img/tanoWebp.webp");
  background-size: cover;
}

.imagenMarcho {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #ff000000;
  background-image: url("../img/marchoWebp.webp");
  background-size: cover;
}

.imagenFede {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #ff000000;
  background-image: url("../img/fede2Webp.webp");
  background-size: cover;
}

.imagenPablo {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #ff000000;
  background-image: url("../img/pabloWebp.webp");
  background-size: cover;
}

.imagenMauri {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #ff000000;
  background-image: url("../img/mauriWebp.webp");
  background-size: cover;
}

.detalle {
  display: flex;
  position: absolute;
  color: rgb(156, 153, 149);
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  background: linear-gradient(
    129deg,
    rgb(5, 5, 5, 0.75) 0%,
    rgba(5, 3, 0, 1) 94%
  );
  height: 60%;
  width: 100%;
  bottom: 0;
  border-radius: 10px 10px 0 0;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 10px;
}

.tituloTarjetaTano {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
}

.contenidoTarjetaTano {
  text-align: center;
  font-size: 23px;
  line-height: 150%;
}

.tarjetas:hover .detalle {
  transform: translateY(100%);
}

.tarjetas.expandida {
  width: 600px;
  height: 400px;
  cursor: auto;
}

.detalle.expandida {
  height: 100%;
  transform: translateY(0);
}

/* LOGOS CONTACTO PAGE 3 */

i {
  font-size: 24px;
  padding: 10px;
}

/* Estilo del enlace de LinkedIn */
.copy a {
  margin-bottom: 20px;
  text-decoration: none;
  color: #f9fbfc;
  border: 2px solid #0077b5;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.copy a:hover {
  background-color: #0077b5;
  color: #fff;
}









